<div class="container">
  <div class="inner-container">
    <div
      class="picture"
      [ngStyle]="{'background-image': 'url(' + img + ')'}">
    </div>
    <div class="info">
      <p class="name">Kayla Rhoades</p>
      <p class="phone">+1 133 4589</p>
      <p class="address">1839 Broomfield, CO, Columbus Ave 15.</p>
      <p class="reviews">reviews here</p>
    </div>
  </div>
  <div class="tables-container">
    <h1 class="title2">Their service packages</h1>
    <div class="tables">
      <div class="table">
        <p class="name">Table's long name</p>
        <div class="link">
          <i class="eva eva-chevron-right-outline"></i>
        </div>
      </div>
    </div>
  </div>
</div>