<app-navbar></app-navbar>

<div class="hero" id="hero_1">
  <div class="info">
    <h1>A simple booking service for your business</h1>
    <h2>Let your clients to easily book appointments.</h2>
    <button routerLink="/signup" class="btn btn-primary--accent">{{ 'HOME.cta' | translate }}</button>
  </div>
</div>
<div class="hero" id="hero_2">
  <h1>Are you tired of taking notes about the bookings?</h1>
  <p>
    Bookly lets your customers to book your services in less than a minute anytime they want to.
    It also helps you to easily manage your schedule and receive payments online.
  </p>
</div>
<div class="hero" id="hero_4">
  <ul>
    <li>
      <h1>Collaborative</h1>
      <p>Keep everyone in sync and easily send updates across the team, without worrying, that someone doesn't get it!</p>
    </li>
    <li>
      <h1>Versatile</h1>
      <p>You can do anything, that is work related. It can be chat, todos, notes, team vacation day planner and something.</p>
    </li>
    <li>
      <h1>Scalable</h1>
      <p>We know it's hard to define tasks precisely in advance, that's why you can add tasks anytime you want or integrate new extensions.</p>
    </li>
  </ul>
</div>
<div class="hero" id="hero_5">
  <h1>Try it for free for 14 days.</h1>
  <h2></h2>
  <button routerLink="/signup" class="btn btn-primary--accent">{{ 'HOME.cta' | translate }}</button>
</div>
<div class="hero" id="footer">
  <div class="info">
    <h1>Bookly</h1>
    <h2>The appointment booker software.</h2>
    <p>© 2019 Bookly - Powered by Strance</p>
  </div>
  <ul>
    <li>
      <h1>Company</h1>
      <div class="content">
        <p>About us</p><br>
        <p>Legal</p><br>
        <p>Careers</p><br>
        <p>Press</p>
      </div>
    </li>
    <li>
      <h1>Support</h1>
      <div class="content">
        <p>Support</p><br>
        <p>Twitter</p><br>
        <p>FAQ</p>
      </div>
    </li>
    <li>
      <h1>Product</h1>
      <div class="content">
        <p>Why use Teamflow?</p><br>
        <p>Pricing</p>
      </div>
    </li>
  </ul>
</div>