<div class="container">
  <div class="background"></div>
  <a routerLink="/" class="title">Bookly</a>
  <form [formGroup]="passwordForm">
    <h1 class="subtitle">{{ 'AUTH.FORGOTPW.subtitle' | translate }}</h1>
    <h1 class="subtitle2">{{ 'AUTH.FORGOTPW.subtitle2' | translate }}</h1>
    <div class="input-container">
      <label for="email" [ngClass]="{'input-invalid': form.email.touched && form.email.errors}">
        <span *ngIf="!form.email.touched || !form.email.errors">Email</span>
        <span *ngIf="form.email.touched && form.email.errors">
          <span *ngIf="form.email.errors.required">Email is required.</span>
        </span>
      </label>
      <input type="text" name="email" formControlName="email" placeholder="Email">
    </div>
    <re-captcha
      #captchaRef="reCaptcha"
      (resolved)="resolved($event)"
      siteKey="6Ldk0bUUAAAAACJE9SF--rbm8EFrcAAwSMboBLGd"
      size="invisible"
      style="opacity: 0; visibility: hidden;">
    </re-captcha>
    <button 
      type="submit"
      class="btn btn-primary--accent"
      [disabled]="passwordForm.invalid || isLoading"
      [ngClass]="{'btn-disabled': passwordForm.invalid || isLoading}"
      (click)="onSubmit(captchaRef)">
      <div class="loader" *ngIf="isLoading">
        <div class="innerLoader"></div>
      </div>
      {{ 'AUTH.FORGOTPW.button' | translate}}
    </button>
    <div class="info">
      <p><a routerLink="/auth/login">{{ 'AUTH.FORGOTPW.backtologin' | translate }}</a></p>
    </div>
  </form>
</div>