<div class="container">
  <div class="inner-container">
    <div class="header-big">
      <div>
        <p class="title">{{ 'SETTINGS.settings' | translate }}</p>
        <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
    <ul class="settings-list">
      <li routerLink="/app/settings/account">
        <div class="icon">
          <i class="eva eva-person-outline"></i>
        </div>
        <div class="text">
          <p class="title">{{ 'SIDEBAR.youracc' | translate }}</p>
          <p class="subtitle">{{ 'SETTINGS.youracc' | translate }}</p>
        </div>
      </li>
      <li routerLink="/app/settings/company">
        <div class="icon">
          <i class="eva eva-edit-2-outline"></i>
        </div>
        <div class="text">
          <p class="title">{{ 'SETTINGS.companyDetails' | translate }}</p>
          <p class="subtitle">{{ 'SETTINGS.companyDetails2' | translate }}</p>
        </div>
      </li>
      <li>
        <div class="icon">
          <i class="eva eva-credit-card-outline"></i>
        </div>
        <div class="text">
          <p class="title">{{ 'SETTINGS.onlinePayments' | translate }}</p>
          <p class="subtitle">{{ 'SETTINGS.onlinePayments2' | translate }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>